.professores-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}

.filtro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  flex-wrap: wrap;
}

.filtro .filtro__item {
  padding: 1px 1rem;
  background-color: var(--white);
  width: 30%;
  min-width: 300px;
  height: 3rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  border: 1px solid #0003;
  transition: .5s ease-in-out;
}

.filtro .filtro__item > input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  padding-left: .5rem;
  font-size: 1rem;
  color: var(--title-color)
}

.filtro .filtro__item > select {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-left: .5rem;
  font-size: 1rem;
  color: var(--title-color)
}

.filtro .filtro__item:hover {
  border: 1.4px solid #0006;
}

.filtro .filtro__item:focus-within {
  border: 1.4px solid var(--secondary-text-color);
}

.professores__list {
  width: 100%;
  margin: 2rem 0;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.professores__list h2 {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  color: var(--title-color);
}

.professores__list .proffessor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem;
  width: 100%;
}

.professores__list .proffessor-header img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: .75rem;
}

.professores__list .proffessor-header h3 {
  color: var(--title-color);
}

.professores__list .proffessor-content {
  padding: .75rem;
  border-top: 1px solid var(--border-color);
}

.professores__list .proffessor-content div {
  margin-bottom: .5rem;
}

.professores__list .proffessor-content div span {
  color: var(--secondary-text-color);
  font-size: 1rem;
}

.professores__list .proffessor-content div h4 {
  color: var(--title-color);
  font-size: 1.15rem;
}

@media (max-width: 768px) {
  .filtro {
    flex-direction: column-reverse;
    align-items: center;
  }

  .filtro .filtro__item {
    margin-top: 2rem;
    width: 100%;
    max-width: 500px
  }
}