.curso-card {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: .5rem;
}

.curso-card img:hover {
  transform: scale(1.1);
}

.curso-card__image img {
  transition: 500ms ease-in-out;
  width: 100%;
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}

.curso-card__content {
  padding: .75rem;
  min-height: 72px;
}

.curso-card__title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: var(--title-color)
}

.curso-card__title:hover {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}
