.sobre-curso {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  width: 90%;
  margin: 3rem auto;
}

.curso-not_Found h1 {
  text-align: center;
  color: var(--title-color);
}

.sobre-curso .sobre-curso__info p {
  margin-bottom: 1rem;
}

@media (max-width: 1237px) {
  .sobre-curso {
    width: 100%;
  }
}

@media (max-width: 976px) {
  .sobre-curso {
    grid-template-columns: 1fr;
  }
}
