.news {
  width: 60%;
  margin: 2rem auto;
}

@media (max-width: 1280px) {
  .news {
    width: 70%;
  }
}

@media (max-width: 1080px) {
  .news {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .news {
    width: 90%;
  }
}

@media (max-width: 660px) {
  .news {
    width: 100%;
  }
}