.primary-button {
  background-color: var(--primary-color);
  color: white;
  padding: .5rem 1rem;
  /* width: 181px; */
  border-radius: 90px;
  margin-left: 1rem;

  transition: 200ms ease-in-out;
}

.primary-button:hover {
  background-color: #8a0e03;
}

.primary-button p {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}