.portal {
  background-color: #e5e5e5;
  height: 100%;
}

.portal_header {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
}

.portal_content {
  margin: auto;
  background-color: red;
  max-width: 1207px;
  max-height: 631px;
  display: flex;
}

.portal_content h1 {
  color: #415462;
}

.portal_content p {
  color: #757575;
}

.portal input {
  width: 483px;
  padding: 0 1.5rem;
  height: 98px;
  border-radius: 52px;
  border: 1px solid #d7d7d7;
  background: #fefefe;
  font-size: 1rem;
}
