.professor-card {
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.professor-card .professor-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
}

.professor-card .professor-card__header .data {
  display: flex;
  align-items: center;
}

.professor-card .professor-card__header img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.professor-card .professor-card__header .actions {
  display: flex;
  align-items: center;
}

.professor-card .professor-card__header .actions p {
  font-size: .9rem;
  font-weight: bold;
  cursor: pointer;
}

.professor-card .professor-card__header .actions button {
  margin-left: 1rem;
  padding: .5rem 1rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: var(--white);
  font-weight: bold;
  background-color: var(--primary-color);
  cursor: pointer;
}
.professor-card .professor-card__header .actions button:hover {
  box-shadow: 5px 5px 15px #b00d15ac;
}

.professor-card .cursos {
  height: auto;
  transition: .5s height ease;
}


/* DETALHES */
.professor-card .detalhe {
  color: var(--secondary-text-color);
  padding: 1rem 0;
}

.professor-card .detalhe .detalhe__title {
  font-weight: bold;
  font-size: 1.25rem;
  display: inline;
  margin-bottom: .5rem;
}

.professor-card .detalhe div > p {
  font-size: 1.25rem;
  margin: .25rem;
  display: inline;
}

.professor-card .detalhe .disciplina__container .disciplina {
  display: block;
}

.professor-card .detalhe .disciplina__container {
  /* margin-top: 1rem; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.professor-card .detalhe .disciplina__container .disciplina {
  background-color: #92D050;
  color: var(--white);
  padding: .25rem .5rem;
  height: 2rem;
  border-radius: 1rem;
  display: block;
  width: auto;
  font: 1rem ;
}