.home-container {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  margin-top: var(--header-height);
}

.home-content {
  margin: 0 auto;
  padding: 1.5rem 0;
}

.section-container {
  margin: 1rem 0;
}

.section-container .title-container {
  margin: 1rem 0;
}

.section-container .motivos-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.section-container .motivos-container .motivos-item {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 20%;
}

.section-container .motivos-container .motivos-item .motivos-icon {
  height: 158px;
  width: 158px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  box-shadow: 5px 5px 20px  #0008;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container .motivos-container .motivos-item .motivos-title {
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: bold;
  margin-bottom: .5rem;
}

.section-container .motivos-container .motivos-item .motivos-description {
  font-size: 1rem;
  color: var(--secondary-text-color);
  margin-bottom: .5rem;
}
