.header-container {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-bottom: 1px solid #e2e2e2;
  z-index: 100;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
  max-width: 1290px;
}

.header-content .home-icon {
  margin-right: 1rem;
}

.header-content nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-content nav ul li a p {
  margin: 0 .75rem;
  font-size: 1rem;
  font-weight: bold;
  color: '#000';
  position: relative;
}

.header-content nav ul li a p:hover,
.header-content nav ul li a p:focus {
  color: var(--primary-color);
}

@media (min-width: 645px) {
  .header-content .menu {
    display: none;
  }  
}

@media (max-width: 920px) {
  .header-content nav ul .cta {
    display: none;
  }
}

@media (max-width: 720px) {
  .header-content .home-icon img {
    max-width: 5rem;
  }
}

@media (max-width: 645px) {
  .header-content {
    height: auto;
    padding: 1rem;
  }

  .header-content nav {
    display: none;
  }

  .header-content .menu {
    display: flex;
  }

  .header-content .menu img {
    width: 2.5rem;
  }

  .mobile-nav {
    transition: .5s height ease-in-out;
  }

  .mobile-nav.closed {
    display: none;
  }

  .mobile-nav.opened {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: var(--white);
    height: 100vh;
  }
  
  .mobile-nav.opened ul {
    list-style: none;
  }

  .mobile-nav.opened ul li {
    margin: 1rem 0;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
}