.dashboard-form {
  min-height: 100%;
}

.dashboard-form h1 {
  color: var(--title-color);
  padding-bottom: 1rem;
}

.dashboard-form .form-button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
