.fq-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 3rem;
  place-items: center;
}

.fq-link:hover {
  text-decoration: underline;
}

.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem
}

.question-header h3 {
  font-size: 1.25rem;
  color: var(--title-color);
}

.question-content {
  padding: 1.5rem 1rem;
  color: var(--secondary-text-color);
  border-top: 1px solid var(--border-color);
}

.question-content p {
  margin: .5rem 0;
}

.question-content a.fq-link {
  color: var(--primary-color)
}

.question-content a {
  color: var(--title-color);
  text-decoration: none;
}

.question-content a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

iframe {
  border: none;
  border-radius: .25rem;
}