.motivos-item {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.motivos-item .motivos-icon {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
