.primary-button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px;
  height: 46px;
  width: 181px;
  border-radius: 90px;
  margin-left: 1rem;
}

.primary-button:hover {
  box-shadow: 10px 20px 25px var(--primary-color) -90% ;
}

.primary-button p {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
  width: 100%;
  text-align: center;
}