.portal-button {
  width: 40%;
  padding: .75rem;
  outline: none;
  border: none;
  color: var(--white);
  border-radius: .5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}