.section-title {
  text-align: center;
}

.subtitle-container, 
.title-container {
  align-self: center;
  /* max-width: 95%; */
  /* overflow: hidden; */
}

.section-title .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--title-color);
}

.section-title .subtitle {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  font-weight: bold;
  margin-bottom: .5rem;
}

@media (max-width: 768px) {
  .section-title .title {
    font-size: 2.25rem;
  }
}

@media (max-width: 640px) {
  .section-title .title {
    font-size: 1.75rem;
  }
}

