.sobre-curso__detalhes {
  max-height: 400px;
}

.sobre-curso .sobre-curso__detalhes .description {
  margin-bottom: 1rem;
}

.sobre-curso .sobre-curso__detalhes .description a {
  color: var(--primary-color);
}