.detalhes-noticia {
  margin: 2rem auto;
}

.detalhes-noticia img {
  width: 100%;
  object-fit: contain;
  border-radius: .5rem;
  border: 1px solid var(--border-color);
}

.detalhes-noticia .detalhes-noticia-text {
  border: 1px solid var(--border-color);
  padding: 1.5rem;
  border-radius: .5rem;
}

.detalhes-noticia .detalhes-noticia-text h1 {
  color: var(--title-color);
  /* margin-bottom: 1rem; */
}

.detalhes-noticia .detalhes-noticia-text span {
  display: block;
  color: var(--secondary-text-color);
  font-size: .95rem;
}

.detalhes-noticia .detalhes-noticia-text p {
  color: var(--secondary-text-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}
/* 
@media (max-width: 880px) {
  .detalhes-noticia {
    flex-direction: column;
  }

  .detalhes-noticia img {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    object-fit: cover;
  }
} */