.detalhes-noticia {
  margin: 2rem auto;
}

.detalhes-noticia img {
  width: 100%;
  object-fit: contain;
  border-radius: .5rem;
  border: 1px solid var(--border-color);
}

.detalhes-noticia .detalhes-noticia-text {
  /* border: 1px solid var(--border-color);
  padding: 1.5rem;
  border-radius: .5rem; */
  margin: 1.5rem 0;
}

.detalhes-noticia .detalhes-noticia-text h1 {
  color: var(--title-color);
  /* margin-bottom: 1rem; */
}

.detalhes-noticia .detalhes-noticia-text span {
  display: block;
  color: var(--secondary-text-color);
  font-size: .95rem;
}

.detalhes-noticia .detalhes-noticia-text p {
  color: var(--secondary-text-color);
  font-size: 1.2rem;
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: clip;
}