.event-details-container .form-section {
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: .5rem;
  border-top: 1px solid var(--border-color);
}

.event-details-container .form-section .form-section-title {
  color: var(--secondary-text-color);
}

.event-details-container .buttons {
  width: 100%;
  padding: 1rem 0;

  display: flex;
  justify-content: space-evenly;
}