.grade__semestre .semestre-disciplina {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: .75rem;
  margin: .5rem 0;
  border-radius: .75rem;
}

.grade__semestre .semestre-disciplina p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--title-color);
  text-align: center;
  color: white;
}

@media (max-width: 1080px) {
  .grade__semestre .semestre-disciplina {
    width: 160px;
    height: auto;
  }
}