#feed {
  max-width: 60%;
  margin: 0 auto;
  transition: .5s ease;
}

@media (max-width: 880px) {
  #feed {
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  #feed {
    max-width: 90%;
  }
}

@media (max-width: 640px) {
  #feed {
    max-width: 100%;
  }
}