.portal-dashboard-welcome {
  margin-bottom: 2.5rem;
  color: var(--title-color);
}

.portal-dashboard-welcome h1 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.portal-dashboard-welcome h3 {
  font-size: 1.5rem;
}

.portal-dashboard-welcome span {
  font-size: 1.25rem;
  color: var(--secondary-text-color);
}